* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

header {
    margin: 2rem 0;
    text-align: center;
}

.chat-history {
    height: 60%;
    width: 100%;
    overflow: auto;
    border: 1px solid #ccc;
    padding: 1rem;
}

.chat-history ul {
    list-style: none;
}

.messages li {
    margin-bottom: 1rem;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.chat-input input {
    padding: 0.5rem;
    width: 70%;
    border: 1px solid #ccc;
}

.chat-input button {
    padding: 0.5rem;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    color: #fff;
}
